.genre-page {
  padding: 10px;
  padding-top: 75px;

  .back-button {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #333;
    padding: 5px;
    border-radius: 100%;
    z-index: 1;
  }
}
